.flex {
    display: flex;
}
.flex.row {
    flex-direction: row;
}
.flex.column {
    flex-direction: column;
}
.flex.flex-end {
    justify-content: flex-end;
}
.flex.space-between {
    justify-content: space-between;
}
.flex.space-around {
    justify-content: space-around;
}
.flex.center {
    justify-content: center;
}
.flex.start {
    justify-content: start;
}
.flex.align-left {
    align-items: flex-start;
}
.flex.align-right {
    align-items: flex-end;
}
.flex.align-center {
    align-items: center;
}
.flex.flex-wrap {
    flex-wrap: wrap;
}